* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(240, 240, 240);
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
/* OVERLAY  */
.add-overlay {
  position: relative;
}
.add-overlay:hover::after {
  background-color: rgba(255, 99, 71, 0);
}
.add-overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 99, 71, 0.28);
  transition: all 0.2s;
}
